@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

.tabs-boxed .tab-active {
  background-color: gray;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.color-bg {
  background: #bbd2c5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #bbd2c5, #536976); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #bbd2c5, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}