@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

.tabs-boxed .tab-active {
  background-color: gray;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}